In [8]:
# Librerias
import numpy as np
import pandas as pd
import ast
from ast import literal_eval

### Proyecto Individual I Labs Henry

El mismo consta de dos datasets con los siguientes datos

El primero movies_dataset.csv tiene las siguientes características:
- budget: El presupuesto con el que se realizó la película.
- genre: El género de la película, acción, comedia, thriller, etc.
- homepage: Un enlace a la página principal de la película.
- id: En realidad, es el movie_id tal como está en el primer conjunto de datos.
- keywords: Las palabras clave o etiquetas relacionadas con la película.
- original_language: El idioma en el que se realizó la película.
- original_title: El título de la película antes de la traducción o adaptación.
- overview: Una breve descripción de la película.
- popularity: Una cantidad numérica que especifica la popularidad de la película.
- production_companies: La productora de la película.
- production_countries: El país en el que se produjo.
- release_date: La fecha en la que se estrenó.
- revenue: Los ingresos generados por la película en todo el mundo.
- runtime: La duración de la película en minutos.
- status: "Estrenada" o "Rumor".
- tagline: Eslogan de la película.
- title: Título de la película.
- vote_average: Calificación promedio que recibió la película.
- vote_count: La cantidad de votos recibidos.

El segundo Credits.csv contiene las siguientes características:
- movie_id: Un identificador único para cada película.
- cast: El nombre de los actores principales y de reparto.
- crew: El nombre del director, editor, compositor, escritor, etc.

Voy a unir los dos conjuntos de datos en la columna 'id'.

In [9]:
# Carga de los dataset
df_movies = pd.read_csv('movies_dataset.csv')
df_credits = pd.read_csv('credits.csv')

C:\Users\54280\AppData\Local\Temp\ipykernel_2628\2195547040.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('movies_dataset.csv')

In [10]:
# Veo como cargo  el movies_dataset
df_movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [11]:
# Veo como cargo credits
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [12]:
# Veo tipos de datos y cantidad de filas de ambos df
print(df_credits.info())
print('--------------------')
print(df_movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

In [13]:
# Para poder unir ambos dataframe debo pasar el id de movies al mismo tipo que el id de credits
# Si bien id de credits es un int lo paso a formato str para que no me de error al utilizar el merge
df_movies['id'] = df_movies['id'].astype(str)
df_credits['id'] = df_credits['id'].astype(str)

In [14]:
# Voy a combinar ambos dataframe
df_movies = df_movies.merge(df_credits, on='id')

In [15]:
# Veo como quedo el df unido
df_movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [16]:
# Voy a eliminar las columnas video, imdb_id, adult, original_title, poster_path y homepage que no serán utilizadas 
df_movies = df_movies.drop('video', axis=1)
df_movies = df_movies.drop('imdb_id', axis=1)
df_movies = df_movies.drop('adult', axis=1)
df_movies= df_movies.drop('original_title', axis=1)
df_movies = df_movies.drop('poster_path', axis=1)
df_movies = df_movies.drop('homepage', axis=1)

In [17]:
# El campo Runtime repesenta los minutos que dura una pelicula, actualmente el df lo tomo como float con lo cual, se va a tranformar
df_movies['runtime'] = pd.to_numeric(df_movies['runtime'], errors='coerce').astype(float)
df_movies['runtime'] = df_movies['runtime'].fillna(0).astype(int)

In [18]:
#Relleno los valores NaN de revenue  y budget por O (cero)
df_movies['revenue'] = df_movies['revenue'].fillna(0)
df_movies['budget'] = df_movies['budget'].fillna(0)

In [19]:
# Voy a eliminar filas con valores no validos en la columna release_date
df_movies = df_movies.dropna(subset=['release_date'])
# Relleno los valores no validos con un valor por defecto 
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d', errors='coerce').fillna(pd.NaT)
# Eliminamos los valores que rellenamos en el codigo de arriba
df_movies.dropna(subset=['release_date'], inplace=True)

In [20]:
# Creo la columna de release_year con el año de release
df_movies.loc[:, 'release_year'] = df_movies['release_date'].dt.year

In [21]:
# Convierto la columna revenue y budget a valores numeroricos para poder usarlos en la creacion de la columna retorno de inversion 
df_movies['revenue'] = pd.to_numeric(df_movies['revenue'], errors='coerce') 
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

# Voy a crear la columna return (retorno de inversion)
df_movies['return'] = df_movies['revenue'] / df_movies['budget']
df_movies['return'].fillna(0, inplace=True)

In [22]:
df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,inf

In [23]:
# Haciendo un chequeo visual veo que en return figura una valor en inf  con lo cual lo convierto a 0 como debe figurar
df_movies['return'] = df_movies['return'].replace(np.inf, 0)

In [24]:
# Voy a generar una columna con el dia para una de las funciones que me estan solicitando 
df_movies['release_day'] = df_movies['release_date'].dt.day_name(locale='es_ES')

In [25]:
# Voy a generar una columna con el mes para una de las funciones que me estan solicitando 
df_movies['release_month'] = df_movies['release_date'].dt.month_name(locale='es_ES')

In [26]:
df_movies

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,cast,crew,release_year,return,release_day,release_month
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,Lunes,Octubre
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,Viernes,Diciembre
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000,Viernes,Diciembre
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760,Viernes,Diciembre
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,0.000000,Viernes,Febrero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45532,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,...,NaN,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,0.000000,Lunes,Mayo
45534,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,NaN,Century of Birthing,9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",2011,0.000000,Jueves,Noviembre
45535,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,A deadly game of wits.,Betrayal,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",2003,0.000000,Viernes,Agosto
45536,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,NaN,Satan Triumphant,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",1917,0.000000,Domingo,Octubre
45537,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,NaN,Queerama,0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",2017,0.000000,Viernes,Junio

In [27]:
# Creo un df_mes y dia para la funciones solicitada
df_mes = df_movies[['id', 'release_month']]
df_dia = df_movies[['id', 'release_day']]
df_movies_titulo = df_movies[['id','title','vote_average','vote_count', 'release_year']]
df_movies_score = df_movies[['id','title','release_year','popularity']]

In [28]:
# Se exportan los primeros 4 dataset, elegi el formato parquet ya que es el mas liviano y performante.
df_mes.to_parquet('df_mes', engine='fastparquet')
df_dia.to_parquet('df_dia', engine='fastparquet')
df_movies_titulo.to_parquet('df_movies_titulo', engine='fastparquet')
df_movies_score.to_parquet('df_movies_score', engine='fastparquet')

In [29]:
# Voy a trabajar sobre la columna genres primero la transformamos en un lista con la appy literal_eval donde cada valor se la columna se transforma en una lista de python
# Luego aplico una lambda para generar una lista con los nombres, en caso de estar vacio se genera una lista vacia.
df_movies['genres'] = df_movies['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [30]:
# Cheque como quedo genres 
df_movies.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,cast,crew,release_year,return,release_day,release_month
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,Lunes,Octubre
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,Viernes,Diciembre
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000,Viernes,Diciembre
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760,Viernes,Diciembre
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,0.000000,Viernes,Febrero

In [31]:
# Creo una funcion para obtener los nombres de los Directores, esto no va a servir para los actores
# ya que tendra que ser en un formato de lista porque son varios por peliculas

def bus_director(x):
    '''
    Esta funcion busca en una lista por diccionario que tiene la clave 'job' con el valor de director, una vez 
    se encuentra el diccionario de director se devuelve el valor asociado a la clave 'name'.
    De no encontrar valor se devolvera un valor nulo.
    '''
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [32]:
# Convierto la columna 'crew' en una lista de diccionarios
df_movies['crew'] = df_movies['crew'].apply(literal_eval)

In [33]:
df_movies['director'] = df_movies['crew'].apply(bus_director)

In [34]:
df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,vote_count,cast,crew,release_year,return,release_day,release_month,director
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,Lunes,Octubre,John Lasseter
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,Viernes,Diciembre,Joe Johnston
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000,Viernes,Diciembre,Howard Deutch
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760,Viernes,Diciembre,Forest Whitaker
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,0.000000,Viernes,Febrero,Charles Shyer

In [35]:
# Voy a generar una lista con los nombres de los actores y guardarlo en una nueva columna que se llame actores 
# Utilizo la funcion literal_eval para convertirla en una lista propia de python 
# x itera con cada elemento de i en la lista y extrae el nombre del actor usando la clave name, 
# luego devuelve una lista con los nombres de los actores 
df_movies['actores'] = df_movies['cast'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [36]:
# Chequeo la columna actores 

df_movies.head(10)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_average,vote_count,cast,crew,release_year,return,release_day,release_month,director,actores
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,Lunes,Octubre,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,Viernes,Diciembre,Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000,Viernes,Diciembre,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760,Viernes,Diciembre,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,0.000000,Viernes,Febrero,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim..."
5,NaN,60000000,"[Action, Crime, Drama, Thriller]",949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,7.7,1886.0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",1995,3.123947,Viernes,Diciembre,Michael Mann,"[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo..."
6,NaN,58000000,"[Comedy, Romance]",11860,en,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,0.000000,Viernes,Diciembre,Sydney Pollack,"[Harrison Ford, Julia Ormond, Greg Kinnear, An..."
7,NaN,0,"[Action, Adventure, Drama, Family]",45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,5.4,45.0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",1995,0.000000,Viernes,Diciembre,Peter Hewitt,"[Jonathan Taylor Thomas, Brad Renfro, Rachael ..."
8,NaN,35000000,"[Action, Adventure, Thriller]",9091,en,International action superstar Jean Claude Van...,5.23158,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,5.5,174.0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",1995,1.838576,Viernes,Diciembre,Peter Hyams,"[Jean-Claude Van Damme, Powers Boothe, Dorian ..."
9,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",710,en,James Bond must unmask the mysterious head of ...,14.686036,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,...,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",1995,6.072311,Jueves,Noviembre,Martin Campbell,"[Pierce Brosnan, Sean Bean, Izabella Scorupco,..."

In [37]:
# Voy a utilizar la misma linea de codigo que utilice para genres y cast en production_companies, production_countries 
df_movies['production_companies'] = df_movies['production_companies'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_movies['production_countries'] = df_movies['production_countries'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [38]:
# da error, se utiliza el modulo ast que da  herramientas para analizar y manipular árboles sintácticos abstractos, con eso deja de dar error y nos permite correr el lambda
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x)['name'] if isinstance(x, str) else np.nan)

In [39]:
# Chequeo los resultados en production_companies y production_countries
df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_average,vote_count,cast,crew,release_year,return,release_day,release_month,director,actores
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1995,12.451801,Lunes,Octubre,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",1995,4.043035,Viernes,Diciembre,Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",1995,0.000000,Viernes,Diciembre,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",1995,5.090760,Viernes,Diciembre,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",1995,0.000000,Viernes,Febrero,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim..."

In [40]:
# Por fines practicos voy a generar un df sin los datos anidados y en formato parquet por si en algun momento lo necesito 
# Elimino cast y crew ya que tienen datos anidados
df_movies_final = df_movies.drop('cast', axis=1, inplace=True)
df_movies_final = df_movies.drop('crew', axis=1)

In [41]:
# Exporto df_movies_final en parquet 
df_movies_final.to_parquet('df_movies_final', engine='fastparquet')

In [42]:
df_movies_final.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,release_year,return,release_day,release_month,director,actores
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,NaN,Toy Story,7.7,5415.0,1995,12.451801,Lunes,Octubre,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,Viernes,Diciembre,Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,Viernes,Diciembre,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,Viernes,Diciembre,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,Viernes,Febrero,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim..."

In [43]:
df_movies_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45451 entries, 0 to 45537
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4497 non-null   object
 1   budget                 45451 non-null  int64
 2   genres                 45451 non-null  object
 3   id                     45451 non-null  object
 4   original_language      45440 non-null  object
 5   overview               44510 non-null  object
 6   popularity             45451 non-null  object
 7   production_companies   45451 non-null  object
 8   production_countries   45451 non-null  object
 9   release_date           45451 non-null  datetime64[ns]
 10  revenue                45451 non-null  float64
 11  runtime                45451 non-null  int32
 12  spoken_languages       45451 non-null  object
 13  status                 45371 non-null  object
 14  tagline                20425 non-null  object
 15  title                  45451 non-null  object
 16  vote_average           45451 non-null  float64
 17  vote_count             45451 non-null  float64
 18  release_year           45451 non-null  int32
 19  return                 45451 non-null  float64
 20  release_day            45451 non-null  object
 21  release_month          45451 non-null  object
 22  director               44616 non-null  object
 23  actores                45451 non-null  object
dtypes: datetime64[ns](1), float64(4), int32(2), int64(1), object(16)
memory usage: 8.3+ MB

In [44]:
# Agrupo los idiomas para optener un archivo con todos los idiomas y generar el nombre completo
idiomas_agrupados = df_movies_final.groupby('original_language').size().reset_index(name='cantidad_peliculas')

In [47]:
#Exporto en csv el listado de idiomas para generar un diccionario con los nombres completos de los idiomas
idiomas_agrupados.to_csv('idiomas_agrupados.csv', index=False)

In [48]:
# Genero diccionario de mapeo de códigos de idiomas a idiomas completos
idiomas_completos = {
    'ab': 'Abkhazian',
    'af': 'Afrikaans',
    'am': 'Amharic',
    'ar': 'Arabic',
    'ay': 'Aymara',
    'bg': 'Bulgarian',
    'bm': 'Bambara',
    'bn': 'Bengali',
    'bo': 'Tibetan',
    'bs': 'Bosnian',
    'ca': 'Catalan',
    'cn': 'Chinese',
    'cs': 'Czech',
    'cy': 'Welsh',
    'da': 'Danish',
    'de': 'German',
    'el': 'Greek',
    'en': 'English',
    'eo': 'Esperanto',
    'es': 'Spanish',
    'et': 'Estonian',
    'eu': 'Basque',
    'fa': 'Persian',
    'fi': 'Finnish',
    'fr': 'French',
    'fy': 'Frisian',
    'gl': 'Galician',
    'he': 'Hebrew',
    'hi': 'Hindi',
    'hr': 'Croatian',
    'hu': 'Hungarian',
    'hy': 'Armenian',
    'id': 'Indonesian',
    'is': 'Icelandic',
    'it': 'Italian',
    'iu': 'Inuktitut',
    'ja': 'Japanese',
    'jv': 'Javanese',
    'ka': 'Georgian',
    'kk': 'Kazakh',
    'kn': 'Kannada',
    'ko': 'Korean',
    'ku': 'Kurdish',
    'ky': 'Kyrgyz',
    'la': 'Latin',
    'lb': 'Luxembourgish',
    'lo': 'Lao',
    'lt': 'Lithuanian',
    'lv': 'Latvian',
    'mk': 'Macedonian',
    'ml': 'Malayalam',
    'mn': 'Mongolian',
    'mr': 'Marathi',
    'ms': 'Malay',
    'mt': 'Maltese',
    'nb': 'Norwegian Bokmål',
    'ne': 'Nepali',
    'nl': 'Dutch',
    'no': 'Norwegian',
    'pa': 'Punjabi',
    'pl': 'Polish',
    'ps': 'Pashto',
    'pt': 'Portuguese',
    'qu': 'Quechua',
    'ro': 'Romanian',
    'ru': 'Russian',
    'rw': 'Kinyarwanda',
    'sh': 'Serbo-Croatian',
    'si': 'Sinhala',
    'sk': 'Slovak',
    'sl': 'Slovenian',
    'sm': 'Samoan',
    'sq': 'Albanian',
    'sr': 'Serbian',
    'sv': 'Swedish',
    'ta': 'Tamil',
    'te': 'Telugu',
    'tg': 'Tajik',
    'th': 'Thai',
    'tl': 'Tagalog',
    'tr': 'Turkish',
    'uk': 'Ukrainian',
    'ur': 'Urdu',
    'uz': 'Uzbek',
    'vi': 'Vietnamese',
    'wo': 'Wolof',
    'xx': 'Unknown',
    'zh': 'Chinese',
    'zu': 'Zulu'
}

In [50]:
#Creo ciclo for para reemplazar nombres abreviados de original_lenguage por el nombre completo del idioma
for codigo, nombre_completo in idiomas_completos.items():
        idiomas_agrupados['original_language'] = idiomas_agrupados['original_language'].replace(codigo, nombre_completo)

In [51]:
# Chequeo original_lenguage
idiomas_agrupados.head()

  original_language  cantidad_peliculas
0         Abkhazian                  10
1         Afrikaans                   2
2           Amharic                   2
3            Arabic                  39
4            Aymara                   1

In [52]:
# Exporto en un nuevo df los idiomas agrupados para utilizar directamente ese df
idiomas_agrupados.to_parquet('df_idioma_agrupado', engine='fastparquet')

Voy a utilizar el df_movies_final para aplicar el modelo de recomendacion.